<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SentiBlock</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

    <script src="../sketchml.js" type="text/javascript"></script>

  </head>
  <body>
    <nav class="col-12 navbar navbar-expand-lg navbar-dark css-opacity" id="home">
      <a class="navbar-brand" href="#home"><img src="/images/logo.png" width="50" height="50"/><span class="ml-3">SentiBlock</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Add New Word <span class="sr-only">(current)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Make Sentimental Analysis <span class="sr-only">(current)</a>
          </li>
        </ul>
      </div>
    </nav>

        <h1 class="display-4 text-light text-center m-auto pt-5" >Welcome in SentiBlock</h1>
        <p class="col-md-7 col-10 lead text-muted text-center m-auto pt-5">This segment will be using TensorFlow.JS powered Machine Learning sentimental analysis alhorithm. I'm working on the algorithm, so be patient :)</p>



      <h4 class="text-light text-center pt-5 pb-3 col-md-6 col-10 m-auto" id="Analyze">Provide The Sentence And Click Buton To Analyze The Sentimental Value Using Machine Learning Algorithm</h4>

      <div class="form-group col-md-5 col-10 m-auto">
        <label class="text-muted text-light" for="textInputArea">Your sentence</label>
        <textarea class="form-control bg-dark text-light" id="predictArea" rows="3"></textarea>
        <div class="text-center m-auto pt-3">
          <button class="btn btn-danger col-md-3 col-5" id="analyzeMLBtn">Analyze</button>
        </div>
      </div>

      <h4 class="text-danger display-4 text-center pt-4 pb-3 col-md-6 col-10 m-auto" id="resultDisplayScoreML"></h4> 
      <h4 class="text-light text-center pt-3 pb-3 col-md-6 col-10 m-auto" id="resultDisplayMeaning"></h4>
      <h4 class="text-light text-center pt-3 pb-3 col-md-6 col-10 m-auto" id="resultDisplayComparative"></h4>
      <h4 class="text-light text-center pt-3 pb-3 col-md-6 col-10 m-auto" id="resultDisplayWordList"></h4>
      <h4 class="text-center pt-3 pb-3 col-md-6 col-10 m-auto text-warning" id="resultDisplayPairList"></h4>


      <h1 class="display-md-3 display-4 text-light text-center m-auto pt-5" id="features" >How Does SentiBlock Machine Learning Works?</h1>
      <h4 class="display-5 text-light text-center m-auto pt-5" id="features" >Training</h4>
      <p class="col-md-7 col-10 lead text-muted text-center m-auto pt-5 pb-5">Instantly after the page is being loaded the training is happening in the background.</p>

      <h4 class="display-5 text-light text-center m-auto pt-5" id="features" >Dataset</h4>
      <p class="col-md-7 col-10 lead text-muted text-center m-auto pt-5">The data to train model was gathered while using Big Data driven objective.</p>
    
      
      <h1 class="display-md-3 display-4 text-light text-center m-auto pt-5" id="features" >What is the purpose of this software?</h1>
      <h4 class="display-5 text-light text-center m-auto pt-5" id="features" >ML Sentimental Analysis</h4>
      <p class="col-md-7 col-10 lead text-muted tnstantly after the text-center m-auto pt-5 pb-5">The difference between Sentiblock analitical version and ML driven is mostly about the way of finding out if the sentence is possitive or negative.
          Thanks to ML the computer learns on data and experience from previous predictions. The result is nothing else that estimated probability of sentence being positive or negative.
      </p>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.4"> </script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/scrollAnimation.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
</body>
</html>